body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.menu a {
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.container {
    background-color: gainsboro;
    max-width: 900px;
    margin: 10px auto;
}

.internal-links a {
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: 5px solid #3498DB;
}

hr {
    border: 1px solid gray;
    margin: 20px 0px;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.section h2 {
    border-bottom: 3px solid #3498DB;
    padding-bottom: 5px;
}

.contact-info {
    padding: 10px 20px;
    background-color: lightgray;
    border-left: 3px solid #3498DB;
}

.footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}